@use "sass:math";
@use "../base/mixin" as *;


@include mq(pc){
  // ----------------------------------------------------------------------------
  // Base
  // ----------------------------------------------------------------------------
  body {
    background: #04202a;
    color: #fff;
  }


  // ----------------------------------------------------------------------------
  // Blocks
  // ----------------------------------------------------------------------------
  // --------------------------------------
  // Items
  // --------------------------------------
  #block_page_items{
    margin: 0;

    &:not(:last-child){
      margin-bottom: 25px;
    }

    li{
      list-style: none;

      &:not(:last-child){
        margin-bottom: 10px;
      }

      a{
        display: block;
        padding: 16px 20px 20px;
        background-color: #2a4150;
        border-radius: 14px;
        line-height: 1.5;
        font-size: 15px;
        color: #fff;
        text-decoration: none;
        transition: transform .2s, opacity .2s;

        &:hover{
          transform: translateY(-2px) scale(1.02);
          opacity: 0.8;
        }
      }
    }
  }

  // --------------------------------------
  // Button
  // --------------------------------------
  #block_copy_url{
    display: block;
    width: 100%;
    text-align: center;

    .btn_inner{
      display: inline-block;
      position: relative;
      font-size: 14px;
      background-color: #2a4150;
      border-radius: 14px;
      line-height: 1;
      color: #fff;
      padding: 16px 60px 20px;
      transition: transform .2s, opacity .2s;
      text-align: center;

      &:hover{
        transform: translateY(-2px) scale(1.02);
        opacity: 0.8;
      }
    }

    .btn_emoji{
      position: absolute;
      top: 50%;
      left: 25px;
      transform: translate(0, -50%);
      font-size: 25px;
    }

  }
}
