@use "sass:math";
@use "../base/mixin" as *;


@include mq(sp){
  // ----------------------------------------------------------------------------
  // Base
  // ----------------------------------------------------------------------------
  body {
    background: #04202a;
    color: #fff;
  }

  // ----------------------------------------------------------------------------
  // Header
  // ----------------------------------------------------------------------------
  #template_header{
    .layout_inner{
      padding-top: 26px;
      padding-bottom: 26px;
    }

    .page_ttl{
      font-size: 30px;
      font-weight: 700;
      margin: 0;
    }
  }

  // ----------------------------------------------------------------------------
  // Footer
  // ----------------------------------------------------------------------------
  #template_footer{
    .layout_inner{
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .footer_txt{
      text-align: center;
      color: rgba(228,232,250,.55);
      font-size: 12px;
    }
  }

  // ----------------------------------------------------------------------------
  // Demo block
  // ----------------------------------------------------------------------------
  #demo_block{
    .block_row{
      &:not(:last-child){
        margin-bottom: 35px;
      }
    }

    .block_ttl{
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 16px;
    }
  }
}
