// ----------------------------------------------------------------------------
// Media Query
// ----------------------------------------------------------------------------
$breakpoint: (
  sp: 'screen and (max-width: 767px)',
  pc: 'print, screen and (min-width: 768px)'
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}


// ----------------------------------------------------------------------------
// Only Safari
// ----------------------------------------------------------------------------
@mixin only_safari {
  @at-root _::-webkit-full-page-media, _:future, :root & {
    @content;
  }
}
