@use "sass:math";
@use "./mixin" as *;

body{
  background-color: #ecd6c7;
}

img{
  max-width: 100%;
  width: auto;
  height: auto;
}

main{
  padding-top: 50px;
}

.page_layout {

  &.layout1{
    &:not(:last-child){
      margin-bottom: 55px;
    }

    .layout_inner {

      .layout_container {
        max-width: 1180px;
        margin-right: auto;
        margin-left: auto;

        .layout_width {
          max-width: calc(100% - 30px);
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }
}
